@charset "utf-8";
header {
	background-color: #FFF;
	padding: 10px;
	width: 930px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
footer {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#page-content {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	border-top: 8px solid #54210F;
}
nav {
	width: 200px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#main-copy {
	width: 500px;
	min-height: 200px;
	margin-right: 50px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#sidebar {
	width: 350px;
	min-height: 200px;
}
