@charset "utf-8";
.container .container h3 {
	text-align: center;
}
.img-fluid {
	padding-left: 15px;
}

.container h3 {
	text-align: center;
}
.container .img-fluid.img-thumbnail {
	padding-left: 300px;
}

.row .col-lg-4 h3 {
	text-align: center;
}
.container h2 {
	text-align: center;
}
#headingOne1 .mb-0 a {
}
body {
	background-color: #DCDCDC;
}
.row .col-lg-4 .img-fluid {
	text-align: center;
}
.container .img-fluid {

}
.container h1 {
	text-align: center;
}
body h2 {
	text-align: center;
}
.img-fluid.img-thumbnail {
	padding-left: 300px;
}
