@charset "utf-8";
.container .container h3 {
	text-align: center;
}
.img-fluid {
	padding-left: 15px;
}
.row .col-lg-4 .img-fluid {
	padding-left: 15px;
}

.row .col-lg-4 p {
	text-align: left;
	color: #000000;
	padding-left: 15px;
}


.container h3 {
	text-align: center;
}
.container .img-fluid.img-thumbnail {
	background-color: #DCDCDC;

}

.row .col-lg-4 h3 {
	text-align: center;

}
.row .col-lg-4 {
	border-style: double;
}

.container h2 {
	text-align: center;
}
#headingOne1 .mb-0 a {
}
body {
	background-color: #DCDCDC;
}
.row .col-lg-4 .img-fluid {
	text-align: center;
	padding-left: 15px;
}
.container .img-fluid {
	padding-left: 15px;

}
.container h1 {
	text-align: center;
}
body h2 {
	text-align: center;
}
.img-fluid.img-thumbnail {

}
.container .container p {
	text-align: center;
}
body h1 {
	text-align: center;
}


.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
	color: #1913A0;
	text-decoration: underline;
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
	color: #1C17A6;
}
.container .card.col-md-4 .card-body {
}
.navbar-nav.mr-auto .nav-item .nav-link {
	color: #1B08D4;
}
