body {
	margin: 0px;
	font-size: 13px;
	line-height: 21px;
	color: #000000;
	background-color: rgba(98,162,237,1.00);
	padding: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(images/sketch.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
}
a {
	font-weight: 900;
	color: #040303;
	font-size: 20px;
	text-decoration: none;
}
nav {
	height: 35px;
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 15px 10px 0px 0px;
	background-color: #ffffff;
	border-bottom: 3px solid #600;
}
nav ul {
	width: auto;
	margin: 0px;
	padding: 0px;
	float: right;
	text-align: center;
	font-size: small;
}
nav li {
	width: auto;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	font-size: small;
}
nav a {
	margin-right: 0px;
	margin-left: 5px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 40px;
	padding-bottom: 10px;
	font-size: small;
	background-image: url(images/logo2.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	color: #041D7C;
}
nav a:hover {
	color: #62A2ED;
	background-position: left center;
	font-size: small;
	background-image: url(images/logo2.jpg);
	background-size: contain;
}
header {
	height: 290px;
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 70px 0px 5px 0px;
	background-color: #CCC;
	border-bottom: 2px solid #600;
	float: left;
	text-align: center;
	background-size: cover;
	background-image: url("images/moon.jpg");
	background-repeat: no-repeat;
}
div.centered-section {
	width: 1000px;
	margin: 0px auto 0px auto;
	align-items: center;
}
.category {
	width: 250px;
	min-height: 420px;
	margin: 20px 0px 10px 25px;
	float: left;
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	-webkit-box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
	box-shadow: 3px 6px 2px 0px rgba(35, 31, 32, 0.75);
}
.category h2 {
	margin: 0;
	padding: 10px;
	font-weight: 900;
	color: #034580;
	font-size: 20px;
	}
.category img {
	width: 250px;
	height: 175px;
	padding: 0px;
	margin: 0px -30px -10px -10px;
}
.category p {
	margin: -10px 0px -5px 0px;
	padding: 10px 10px 10px 10px;
}
.category p a {
	font-size: 13px;
	color: #9D2242;
}
footer {
	height: 10px;
	text-align: center;
	padding: 0px 0px 10px 0px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	float: left;
	margin-top: 0px;
	font-weight: bold;
}
footer p {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	color: #034580;
	font-size: 20px;
	font-weight: 900;
}
footer a {
}
